header {
    background-image: url("#");
    background: transparent;
    text-align: right; 
    font-family: 'Comfortaa', 'ABeeZee', Tahoma;
    font-size: 25px;

    padding: 10px 50px 5px 50px; 
    margin: -20px -20px -20px -20px;
}

#nav-links {
background-color: #C4EAB3;
height: 25px;
opacity: 0.8;
list-style-type: none;
text-align: left;
font-family: 'ABeeZee', Tahoma;
font-size: 15px;

border-radius: 15px;

padding: 0px 40px 10px 40px;
margin: -20px -20px 5px -20px;
}

#nav-links li {
    display: inline-block;
    font-size: 15px;
    padding: 10px;
    text-decoration: none;
} 

#nav-links li a {
    color: black;
    text-decoration: none;
}

#nav-links li a:hover {
    color: white;
    text-decoration: none;
} 

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    background: ;
    padding: 20px 40px 20px 40px;
}

.center-page {
    text-align: center;
}

a:hover {
    color:white;
}

footer {
    background-color: #C4EAB3;
    height: 15px;
    opacity: 0.8;
    list-style-type: none;
    text-align: center;
    font-family: 'ABeeZee', Tahoma;
    font-size: 18px;
    
    border-radius: 15px;
    
    padding: 0px 20px 10px 20px;
    margin: 20px auto 5px auto;
}

.blog-width {
    margin: auto;
    width: 85%;
    padding: 20px 0px 0px 0px;

}

.blog-width a {
    color:seagreen;
    text-decoration: none;

}

.blog-width a:hover {
    color: grey;
    text-decoration: none;
}

mark {
    color:  #6e46a1;
    background-color: #f0efef;
    display: inline-block;
    padding 3px;
    margin: 2px;
}

footer a {
    color: black;
    text-decoration: none;
}

footer a:hover {
    color: white;
    text-decoration: none; 
}

.center-image {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }