header {
    background-image: url("#");
    background-color: white;
    text-align:right; 
    font-family: 'Comfortaa', 'ABeeZee', Tahoma;
    font-size: 20px;

    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 5px;  
    padding-left: 50px; 

    margin-top: -20px;
    margin-right: -20px;
    margin-bottom: -20px;
    margin-left: -20px;
}

#nav-links {
background-color: #C4EAB3;
list-style-type: none;
text-align: left;
font-family: 'ABeeZee', Tahoma;
font-size: 15px;

padding: 10px 40px 10px 40px;

margin: -20px -20px 5px -20px;
}

#nav-links li {
    display: inline-block;
    font-size: 15px;
    padding: 10px;
    text-decoration: none;
} 

#nav-links li a {
    color: black;
    text-decoration: none;
}

#nav-links li a:hover {
    color: white;
    text-decoration: none;
} 


body {
    font-family: 'Montserrat Alternates', Tahoma;
    font-size: 20px;
}

.center-page {
    text-align: center;
}

a:hover {
    color:white;