header {
    background-image: url("#");
    background-color: white;
    text-align:left; 
    font-family: 'Comfortaa', 'ABeeZee', Tahoma;
    font-size: 20px;

    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 5px;  
    padding-left: 50px; 

    margin-top: -20px;
    margin-right: -20px;
    margin-bottom: -20px;
    margin-left: -20px;
}

#header-links {
background-color: #C4EAB3;
text-align: right;
font-family: 'ABeeZee', Tahoma;

font-size: 15px;

padding-top: 10px;
padding-right: 40px;
padding-bottom: 10px;
padding-left: 0px;

margin-top: -20px;
margin-right: -20px;
margin-bottom: 5px;
margin-left: -20px;
}

body {
    font-family: 'Montserrat Alternates', Tahoma;
    font-size: 20px;
}

.center-page {
    text-align: center;
}

a:hover {
    color:white;